body{
    background: #F8F9FA;
}
.center{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}
#azure-logo{
    width: 200px;
    margin-top: 250px;
    margin-bottom: 50px;
}